<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>404 template</title>
  </head>

  <body>
      <h1> 404: Sorry, Nothing Here</h1>
      You arrived here with the path: <%= wrongpath %>
  </body>

</html>

